* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
  }
  
  .mattres-picture {
    width: 100%;
}

@font-face {
    font-family: "Simple";
    src: url("../fonts/Simpel-Medium.otf");
}

body {
    font-family: "Simple", sans-serif;
    background-color: #efefef;
    padding: 2rem;
}

.logo-wrapper {
    padding: 2rem 0;
    text-align: center;
}

.logo-wrapper .logo {
    width: 20rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 4rem 4rem;
    background-color: white;
    border-radius: 1rem;
}
  .container form {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}
  .container form .form-group {
    flex-basis: 100%;
    padding: 0 3rem;
    margin-bottom: 2rem;
}
  @media screen and (min-width: 768px) {
    .container form .form-group {
      flex-basis: 50%;
    }
}

.container form .form-group label {
    display: block;
    margin-bottom: 1rem;
}

.container form .form-group select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat;
    background-position: right 1rem top;
    appearance: none;
}

h1 {
    color: rgb(12, 64, 133);
    text-align: center;
}

.mattress {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.mattress .mattres {
    flex-basis: 100%;
}